body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #292929;
  margin: 0;
  padding: 0;
  color: #bbb;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 3.5em;
  color: rgb(187, 187, 187);
}

form {
  text-align: center;
  margin-top: 20px;
}

.plik-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5bc0de;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plik-input:hover {
  background-color: #31b0d5;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5cb85c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.submit-btn:hover {
  background-color: #4cae4c;
}

.problem {
  background: #444;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 5px;
  color: #ddd;
}

pre {
  background: #222;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

a {
  color: #5bc0de;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
