<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Audyt Bezpieczeństwa</title>
    <link rel="stylesheet" href="./static/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Audyt Bezpieczeństwa</h1>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="plik" accept=".py" class="plik-input" />
        <input type="submit" value="Prześlij" class="submit-btn" />
      </form>
      {% if problemy is not none %} {% if problemy %}
      <h2>Wyniki Audytu:</h2>
      {% for problem in problemy %}
      <div class="problem">
        <p><strong>Plik:</strong> {{ problem.nazwa_pliku }}</p>
        <p><strong>Opis:</strong> {{ problem.opis_problemu }}</p>
        <p>
          <strong>Zakres Linii:</strong> {{ problem.zakres_linii[0] }} - {{
          problem.zakres_linii[-1] }}
        </p>
        <p><strong>Istotność:</strong> {{ problem.istotnosc }}</p>
        <p><strong>Pewność:</strong> {{ problem.pewnosc }}</p>
        <p>
          <strong>Link CWE:</strong>
          <a href="{{ problem.link_cwe }}">{{ problem.link_cwe }}</a>
        </p>
        <p>
          <strong>Więcej Info:</strong>
          <a href="{{ problem.wiecej_info }}">{{ problem.wiecej_info }}</a>
        </p>
        <pre>{{ problem.kod }}</pre>
      </div>
      {% endfor %} {% else %}
      <p>Nie znaleziono problemów bezpieczeństwa.</p>
      {% endif %} {% endif %}
    </div>
  </body>
</html>
